.container-todo{
  background-color: rgb(195, 250, 250);
}
.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 920px;
    min-height: 600px;
    background: rgb(226, 122, 186);
    text-align: center;
    margin: 12px auto;
    border-radius: 10px;
    padding-bottom: 12px;
  }
  
  h1 {
    margin: 32px 0;
    color: black;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color:black;
  }
  
  .todo-input::placeholder {
    color: black;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: white;
    background: linear-gradient(
      90deg,
      rgb(9, 183, 236) 0%,
      rgb(70, 169, 235) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  
  .icons {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    display: flex;
    align-items: flex-end;
    color: white;
  }
  
  .edit-icon {
    color: rgb(40, 37, 214);
  }

  .logout-button{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: white;
    text-transform: capitalize;
    float: right;
    margin-bottom: 30px;
  }
  .todo {
    align-self: center;
    color: white;
  }
  
  .todo .crossText {
    text-decoration: line-through;
    color: red;
  }
  
  .todo input {
    background: transparent;
    border: none;
    color: black;
    border-bottom: 5px dashed black;
    min-width: 400px;
    margin-top: 40px;
    padding: 5px;
    font-size: 1rem;
  }
  
  .todo input::placeholder {
    color:blue;
    font-size: 1.3rem;
  }
  
  .todo input:focus {
    outline: none;
    border: 2px dotted black;
  }
  
  .todo .add-btn {
    padding: 10px;
    border-radius: 30%;
    color: black;
    font-size: 1.2rem;
    background-color: yellow;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    border: 3px solid black;
  }
  
  .todo .add-btn:hover {
    padding: 15px;
    font-size: 1.5rem;
  }
  
  .todo ul {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  
  .todo ul li {
    list-style: none;
    margin-bottom: 4px;
  
    border: 2px solid black;
    border-radius: 50px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: -100px;
    background-color: rgb(236, 236, 236, 0.6);
    font-family: "Permanent Marker", cursive;
    color: black;
  }
  .todo ul li .delete {
    margin-top: 5px;
    float: right;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
  }
  
  .todo ul li .completed {
    margin-top: 5px;
    float: right;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: green;
    margin-left: 10px;
    color: white;
  }

  .form-control bg-white btn mt-2{
    border-radius: 30px;
  }

  .badge bg-primary ml-4{
    display:flex;
    flex-direction:end;
  }

  .list-groups ul li{
    background-color:blue;
    color:white;
    padding: 14px 32px 14px 16px;
    border-radius: 10px;
    border: 2px solid #0cbaff;
    
  }